:root{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
}

nav {
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 0;

    transition: width 0.25s linear;
}

nav.open {
    background-color: rgb(40, 40, 40);
    width: 30%;
    padding: 5rem 2rem;

    transition: width 0.5s linear;
}

nav a{
    color: white;
}

a{
    display: flex;
    text-decoration: none;
}

a.toggle {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    background-color: red;
}

main{
    padding: 3rem;
}